## map
iterable 객체의 각 요소에 대해 지정한 함수를 적용하고,
그 결과를 "map 객체"로 반환 (값 변환용; map값을 보려면, for문 돌리거나 list감싸줘야 한다.)

### map(function, iterable) -> map

In [ ]:
nums = [1, 2, 3, 4, 5]

result = map(lambda x: x**2, nums) 
print(result, type(result)) # <map object at 0x000001D211374AF0> <class 'map'>

result = list(result)
print(result, type(result)) # [1, 4, 9, 16, 25] <class 'list'>

<map object at 0x000001D211374AF0> <class 'map'>
[1, 4, 9, 16, 25] <class 'list'>

In [ ]:
# 다음 문자열 리스트를 문자열 길이 리스트로 반환

coffee: list[str] = ['아이스 아메리카노', '카페 라떼', '바닐라 라떼', '믹스커피']

print([len(x) for x in coffee]) # 리스트 내포
print(list((lambda x: len(x))(n) for n in coffee)) # 람다함수 + 튜플 내포

# map(함수, iterable)
result = list(map(lambda x: len(x), coffee))  # map 함수(변환기) + 람다함수
#result = list(map(len(), coffee))  # map 함수(변환기) + len() -> 함수실행 (X)
result = list(map(len, coffee)) # map 함수(변환기) + len함수; 같은 결과 
                                # map값을 보려면, for문 돌리거나 list감싸줘야 한다.
#print(result)

#### 주피터 노트북에서는 마지막 줄에 print()구문이 없어도 출력해줌
result

[9, 5, 6, 4]
[9, 5, 6, 4]

[9, 5, 6, 4]

In [9]:
# 여러 시퀀스 객체 통합
mid_term = [95, 45, 80]
final_term = [60, 100, 44]

# 중간고사와 기말고사의 평균
#avg_score = list(map(lambda x, y: (x+y)/2, mid_term, final_term)) # map값을 보려면, for문 돌리거나 list감싸줘야 한다.
#avg_score = list(map(lambda x: sum(x)/len(x), zip(mid_term, final_term)))
avg_score = [(x+y)/2 for x, y in zip(mid_term, final_term)]
avg_score

[77.5, 72.5, 62.0]

## filter 
주어진 iterable 객체에 대해 참/거짓 평가 후 참인 요소들만 결과값으로 반환

### filter(function, iterable) -> filter

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# 짝수만 리스트 만들기
evens = [x for x in nums if x%2 == 0] # 리스트 내포
print(list(evens))

#evens = filter(lambda x: x if x%2 == 0 else "", nums) # filter함수 + lambda함수
evens = filter(lambda n: n%2 == 0, nums) # filter함수 + lambda함수(True/False값 반환하는 함수) => filter함수는 True인 경우만 값 반환 

print(list(evens))

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]

In [16]:
# 다음 이름 중 홍씨만 리스트로 반환
names: list[str] = ['홍길동', '고길동', '최홍만', '홍진경', '김길동']

#hong_family = list(filter(lambda s:s[0] == '홍', names)) # T/F판단 함수: lambda s:s[0] == '홍'
#hong_family = [s for s in names if s[0]=='홍'] # list 내포
hong_family = list(filter(lambda s:s.startswith('홍'), names))
hong_family

['홍길동', '홍진경']

In [ ]:
# 90점 이상인 우수학생 필터링
students = [
    { 'name' : '이순신', 'score' : 80},
    { 'name' : '윤봉길', 'score' : 75},
    { 'name' : '논개', 'score' : 99},
    { 'name' : '강감찬', 'score' : 91},
]

#best_students = list(filter(lambda x:x['score'] >= 90, students)) # 필터함수
best_students = [ x for x in students if x['score'] >= 90] # 리스트 내포
best_students

[{'name': '논개', 'score': 99}, {'name': '강감찬', 'score': 91}]

### reduce

iterable 객체의 요소에 대한 연산 결과를 단일값 반환. (합계, 최대, 최소값 등의 연산에 적합)

### reduce(function, iterable, initial_value) -> Any

함수는 3개의 인자를 받는다.
1. 누적 연산값
2. 현재 요소
3. 초기값(선택)

In [ ]:
from functools import reduce  # builtin함수는 아니다

# 1 ~ 10 숫자 합

nums =  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#total = list(reduce(sum, nums)) # TypeError: 'int' object is not iterable
#total = reduce(sum, nums) # TypeError: 'int' object is not iterable
##total = list(reduce(lambda sum, current: sum + current,  nums)) # TypeError: 'int' object is not iterable
total = reduce(lambda sum, current: sum + current,  nums)
print(total)

def my_func(sum, current):
    print(f'sum : {sum}, current : {current}')
    return sum + current


#total =  reduce(my_func, nums) # 초기값이 없으면 첫번째 요소가 초기값으로 사용 ( 1 -> sum) => 1부터 ( sum: 누적연산값, current: 현재요소) 
total =  reduce(my_func, nums, 0) # 초기값이 없으면 첫번째 요소가 초기값으로 사용 ( 1 -> sum) => 0부터( sum: 누적연산값, current: 현재요소) 
total

55
sum : 0, current : 1
sum : 1, current : 2
sum : 3, current : 3
sum : 6, current : 4
sum : 10, current : 5
sum : 15, current : 6
sum : 21, current : 7
sum : 28, current : 8
sum : 36, current : 9
sum : 45, current : 10

55

In [ ]:
# 요소들의 최대값 반환
nums = [32, 124, 23, 4353, -123, 0, 2345235, -8712]

max_num = reduce(lambda max, current: max if max > current else current, nums) #초기값 지정없으면, 맨앞에 32가 초기값에 담김(max=32), 맨마지막에 max의 값이 max_num으로 assign됨
max_num

2345235

In [42]:
# 최고점수 학생 출력
students = [
    { 'name' : '이순신', 'score' : 80},
    { 'name' : '윤봉길', 'score' : 75},
    { 'name' : '논개', 'score' : 99},
    { 'name' : '강감찬', 'score' : 91},
]

#max_student = reduce(lambda max, current: max if max > current else current, students) # TypeError: '>' not supported between instances of 'dict' and 'dict'
#max_student = reduce(lambda max, current: max['score'] if max['score'] > current['score'] else current['score'], students) # TypeError: 'int' object is not subscriptable
max_student = reduce(lambda max, current: max if max['score'] > current['score'] else current, students) # {'name': '논개', 'score': 99}

# lambda를 일반함수로 풀어보자
def my_func(max, current):
    print(f'max : {max}, current : {current}')
    return max if max['score'] > current['score'] else current

max_student = reduce(my_func, students)
max_student

max : {'name': '이순신', 'score': 80}, current : {'name': '윤봉길', 'score': 75}
max : {'name': '이순신', 'score': 80}, current : {'name': '논개', 'score': 99}
max : {'name': '논개', 'score': 99}, current : {'name': '강감찬', 'score': 91}

{'name': '논개', 'score': 99}